

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>@ViewBag.Message</h4>
<p>There are @ViewBag.ProductCount products in the list.</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>

